
<%= turbo_stream_from "contacts" %>

<!-- Hero Section -->
<section id="home" class="hero">
  <div class="container hero-content">
    <h1>Shiladitya</h1>
    <p>Actor • Performer • Writer</p>
    <a href="#contact" class="hero-btn">Cross the Void</a>
  </div>
</section>

<div class="neon-divider"></div>

<!-- About Me Section -->
<%= render "about_me"  %>
<div class="neon-divider"></div>

<!-- Resume Section -->
<%= render "resume"  %>

<div class="neon-divider"></div>

<!-- Reel Section -->
<section id="reel" class="page-section reel">
  <div class="container">
    <h2>Demo Reel</h2>
    <div class="video-container">
      <div class="video-placeholder">
      <iframe width="100%" height="500"
        src="https://www.youtube.com/embed/TAd7n9uHfHo?si=6ZN5jio3f5hSpXvO"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
      </div>
    </div>
  </div>
</section>

<div class="neon-divider"></div>

<!-- Photos Section -->
<%= render "photos"  %>

<div class="neon-divider"></div>

<!-- Contact Section -->
<%= turbo_frame_tag "contacts_form" do %>
  <%= render "portfolios/form", contact: @contact %>
<% end %>
